[submodule "external/ps5-linux-patches"]
	path = external/ps5-linux-patches
	url = https://github.com/ps5-linux/ps5-linux-patches.git
[submodule "external/ps5-linux-mwifiex"]
	path = external/ps5-linux-mwifiex
	url = https://github.com/ps5-linux/ps5-linux-mwifiex.git
